@page
@model LoginModel

@{
	ViewData["Title"] = "Connexion";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="row justify-content-center">
	<div class="col-12 col-xl-6">
		<div class="card my-2">
			<form class="card-body p-lg-4" id="account" method="post">
				<div class="text-center">
					<img src="~/images/avatar_user_login.png" class="img-fluid img-thumbnail rounded-circle mb-3" width="175" alt="avatar">
				</div>
				<div class="form-floating">
					<input asp-for="Input.Email" class="form-control mb-3" autocomplete="username" aria-required="true" />
					<label asp-for="Input.Email" class="form-label"></label>
					<span asp-validation-for="Input.Email" class="text-danger d-block mb-3"></span>
				</div>
				<div class="form-floating">
					<input asp-for="Input.Password" class="form-control mb-3" autocomplete="current-password" aria-required="true" />
					<label asp-for="Input.Password" class="form-label"></label>
					<span asp-validation-for="Input.Password" class="text-danger d-block mb-3"></span>
				</div>
				<div asp-validation-summary="ModelOnly" class="text-danger custom-summary"></div>
				<div class="checkbox mb-3">
					<label asp-for="Input.RememberMe" class="form-label">
						<input class="form-check-input" asp-for="Input.RememberMe" />
						@Html.DisplayNameFor(m => m.Input.RememberMe)
					</label>
				</div>
				<div>
					<button id="login-submit" type="submit" class="w-100 btn btn-dark btn-lg mb-3">Se connecter</button>
				</div>
				<div class="form-text text-center text-dark">
					<p>
						Pas encore inscrit ? <a href="" data-bs-toggle="modal" data-bs-target="#registerModal">Créer un compte</a>
					</p>
				</div>
			</form>
		</div>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
