@page
@model DispatcherProfileModel
@{
	ViewData["Title"] = "Mon profil";
	ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3 class="text-center">@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row justify-content-center">
	<div class="col-12 col-xl-8">
		<form id="profile-form" method="post" enctype="multipart/form-data">
			
			<input asp-for="Input.Dispatcher.Id" type="hidden" />
			<input asp-for="Input.Dispatcher.Email" type="hidden"/>

			<div class="form-floating mb-3">
				<input asp-for="Input.Dispatcher.Matricule" class="form-control mb-3" placeholder="Matricule">
				<label asp-for="Input.Dispatcher.Matricule">Matricule</label>
				<span asp-validation-for="Input.Dispatcher.Matricule" class="text-danger text-start d-block"></span>
			</div>

			<div class="row">
				<div class="col-md-6 mb-3">
					<div class="form-floating">
						<input asp-for="Input.Dispatcher.Name" class="form-control mb-3" placeholder="Nom">
						<label asp-for="Input.Dispatcher.Name">Nom</label>
						<span asp-validation-for="Input.Dispatcher.Name" class="text-danger text-start d-block"></span>
					</div>
				</div>
				<div class="col-md-6 mb-3">
					<div class="form-floating">
						<input asp-for="Input.Dispatcher.FirstName" class="form-control mb-3" placeholder="Prénom">
						<label asp-for="Input.Dispatcher.FirstName">Prénom</label>
						<span asp-validation-for="Input.Dispatcher.FirstName" class="text-danger text-start d-block"></span>
					</div>
				</div>
			</div>

			@Html.DropDownListFor(model => model.Input.Dispatcher.Degree, Html.GetEnumSelectList<Degree>(), new { @class = "form-select"})
			<span asp-validation-for="Input.Dispatcher.Degree" class="text-danger text-start d-block mb-3"></span>

			<div class="form-floating">
				<input asp-for="Input.Dispatcher.BirthDate" type="date" class="form-control mb-3" />
				<label asp-for="Input.Dispatcher.BirthDate">Date de naissance</label>
				<span asp-validation-for="Input.Dispatcher.BirthDate" class="text-danger text-start d-block"></span>
			</div>

			<div class="mb-3">
				<label class="form-label" asp-for="Input.ProfileImageUploaded">Changer la photo de profil :</label>
				<input asp-for="Input.ProfileImageUploaded" type="file" class="form-control" accept=".jpg, .jpeg, .png, .gif" />
			</div>

			<div asp-validation-summary="ModelOnly" class="text-danger"></div>

			<button id="update-profile-dispatcher-button" type="submit" class="w-100 btn btn-lg btn-dark">Enregistrer</button>
		</form>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}