@model ErrorViewModel

<h1 class="text-danger">Oups...</h1>
<h2 class="text-danger">Une erreur est survenue lors du traitement de votre requête</h2>

<p>
    Si le problème persiste, veuillez le signaler à l'adresse suivante : contact@helmo-bilite.be
</p>
